.next
.pytest_cache
.venv
__pycache__
*.pyc
.env
.env.local
.vscode/
/package.json
/package-lock.json
backend/.env
backend/data/
frontend/.env
frontend/.env.local
node_modules
dist
build
*.tsbuildinfo
